#header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header a {
    text-decoration: none;
    color: black;
}

#logo {
    width: 10%;
    margin: 3px 10px;
}

#logo img {
    width: 100%;
}

#header-links {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 10px;
}